@import '../../scss/export';
$title_weight: 500;
$title_size: 1.1em;

.product_info {
  margin: 0 50px;
  max-width: 350px;
  @include phone {
    margin: 20px 0 0 0;
    max-width: 290px;
  }
  // 標題
  .title {
    font-size: 2em;
    font-weight: bolder;
    left: -20px;
    top: -8px;
    @include phone {
      font-size: 1.6em;
    }
  }
  //  價格
  .price {
    font-weight: 600;
    font-size: 1.5em;
    color: rgba($color: #0f614f, $alpha: 1);
  }
  // 分類
  .sucForTool_container {
    display: flex;
    align-items: center;
    margin: 20px 0;
    .sucForTool1 {
      font-size: $title_size;
      font-weight: $title_weight;
    }
  }
  // 尺寸
  .size_container {
    display: flex;
    align-items: center;
    margin: 20px 0;
    .size1 {
      font-size: $title_size;
      font-weight: $title_weight;
    }
  }
  // 購買數量
  .buy_number {
    display: flex;
    align-items: center;
    margin: 20px 0;
    div {
      font-size: $title_size;
      font-weight: $title_weight;
    }
    .left {
      border-radius: 5px 0 0 5px;
      line-height: 30px;
    }
    .right {
      border-radius: 0 5px 5px 0;
      line-height: 29px;
    }
    span {
      flex: none;
      width: 30px;
      height: 30px;
      text-align: center;

      background-color: rgba($color: #1f1f1f, $alpha: 1);
      color: #ffff;
      cursor: pointer;
      &:hover {
        opacity: 0.6;
      }
    }
    input {
      border-radius: 0;
      text-align: center;
      width: 40px;
      height: 30px;
      border: none;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      margin: 0;
      font-size: 1.1em;
    }
    input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button {
      appearance: none;
    }
    .last_number {
      margin-left: 10px;
      font-size: 1em;
      font-weight: normal;
      color: rgba($color: #656565, $alpha: 1);
      span {
        background-color: transparent;
        color: rgba($color: #b10b0b, $alpha: 0.8);
        font-weight: $title_weight;
      }
    }
  }
  button {
    height: 40px;
    width: 100%;
    border: 1px solid black;
    background-color: black;
    color: #ffff;
    font-size: 1.3em;
    font-weight: bolder;
    margin: 20px 0;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}
