@import '../../scss/export';

.cart {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -100vw;
  z-index: 20;
  background-color: rgba($color: #474747, $alpha: 0.6);
  .cart_background {
    overflow: scroll;
    position: absolute;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100vh;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    overscroll-behavior: contain;
    z-index: 100;
    @include pad {
      width: 100vw;
    }
    .close {
      width: 25px;
      height: 25px;
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }
    .cart_title {
      font-size: 2em;
      font-weight: bold;
      margin-top: 80px;
      margin-bottom: 20px;
      color: rgba($color: #444444, $alpha: 1);
    }
    hr {
      width: 90%;
      border: none;
      border-bottom: 1px solid black;
      margin: 20px 0;
    }
    .total {
      font-size: 1.5em;
      color: rgba($color: #667874, $alpha: 1);
      font-weight: bolder;
      margin-bottom: 5px;
    }
    .checkout {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 0;
      width: 90%;
      border: 1px solid black;
      background-color: black;
      color: #ffff;
      font-size: 1.5rem;
      font-weight: bolder;
      margin: 20px 0;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  // 商品數量不足跳出視窗 跳出視窗
  .delete_popout_cart {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #c4c3c3, $alpha: 0.9);
    display: flex;
    justify-content: center;
    z-index: 110;
    div {
      margin-top: 150px;
      width: 300px;
      height: 130px;
      background-color: #ffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      border: 2px solid black;
      border-radius: 5px;
      font-size: 1.2rem;
      button {
        width: 30%;
        height: 30px;
        border-radius: 5px;
        font-size: 1rem;
        border: none;
        background-color: black;
        color: #ffff;
        cursor: pointer;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}

.cart_open {
  animation: 0.3s cartopen;
  transform: translateX(-100vw);
}

@keyframes cartopen {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}
