@import '../../scss/export';

.nav_item {
  margin: 0 10px;
  position: relative;
  // suc forest tool
  .main {
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    font-size: 1.3em;
    height: 100%;
    font-weight: bolder;
    cursor: pointer;
    @include pad {
      height: 50px;
    }
    &:hover {
      opacity: 0.5;
      transition: all 0.3s;
    }
    &:hover + .drop_down {
      max-height: 1000px;
      border-bottom: 1px solid black;
    }
    &:hover .arrow_down {
      transform: rotate(180deg);
    }
    img.arrow_down {
      width: 10px;
      height: 10px;
    }
  }
  // 每個分類的細項
  .drop_down {
    position: absolute;
    overflow: hidden;
    max-height: 0;
    transform: translateX(-10px);
    width: 200px;
    border: 1px solid black;
    border-bottom: 0;
    border-top: 0;
    transition: all 0.25s;
    z-index: 1000;
    background-color: #ffff;
    &:hover {
      max-height: 1000px;
      border-bottom: 1px solid black;
    }
    @include pad {
      position: relative;
      max-height: 1000px;
      width: 100%;
      border: none;
    }
    .drop_item {
      padding: 10px 15px;
      cursor: pointer;
      font-size: 1rem;
      color: $color1;
      @include pad {
        width: 100%;
      }
      &:hover {
        opacity: 0.5;
        transition: all 0.3s;
      }
    }
  }
}
