.popout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #c4c3c3, $alpha: 0.7);
  display: flex;
  justify-content: center;

  div {
    margin-top: 150px;
    width: 300px;
    height: 130px;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1.2rem;
    button {
      width: 30%;
      height: 30px;
      border-radius: 5px;
      font-size: 1rem;
    }
  }
}
