@import '../../scss/export';

.footer {
  padding-top: 20px;
  border-top: 1px solid black;
  position: absolute;
  margin-top: 70px;
  top: 100%;
  width: 100vw;
  .foo {
    max-width: $width1;
    margin: 50px auto;
    .address {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      color: black;
      width: 300px;
      &:hover {
        opacity: 0.7;
      }
      img {
        width: 30px;
        height: 30px;
        margin: 0 10px;
      }
    }
    .social {
      margin-left: 10px;
      img {
        margin-right: 20px;
        width: 30px;
        height: 30px;
        &:hover {
          opacity: 0.5;
        }
      }
    }
    .about {
      position: absolute;
      top: 0;
      right: 10px;
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
