@import '../../scss/export';

.home {
  display: flex;
  flex-direction: column;
  max-width: $width1;
  margin: auto;
  select {
    height: 30px;
    width: 150px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 10px;
    text-align: center;
    border: 1px solid rgba($color: #636363, $alpha: 1);
    color: #636363;
    &:focus {
      outline: none;
    }
  }
  .product_container {
    max-width: $width1;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
  }
}
