$item_margin_lr: 10px;

.product_item {
  margin: 20px $item_margin_lr;

  img.trash_can {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -10px;
    right: -10px;
    z-index: 10;
    cursor: pointer;
  }
  // 商品售完圖片 
  div.sold_out{
    position: absolute;
    width: 335px - (2 * $item_margin_lr);
    height: 335px - (2 * $item_margin_lr);
    background-color: rgba($color: #464646, $alpha: 0.8);
    z-index: 10;
    img.sold_out{
      width: 40%;
      height: 40%;
      opacity: 0.8;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  
  // 商品首頁圖片
  img.product_item_img {
    width: 335px - (2 * $item_margin_lr);
    height: 335px - (2 * $item_margin_lr);
    object-fit: cover;
  }
  .title {
    font-weight: bolder;
    color: black;
    &:hover {
      opacity: 0.6;
    }
  }
  .sucForTool_sort1 {
    font-size: 0.8rem;
  }
  .price {
    font-size: 0.8rem;
    margin-top: 5px;
  }
  // 確認刪除商品 跳出視窗
  .delete_popout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #c4c3c3, $alpha: 0.9);
    display: flex;
    justify-content: center;
    z-index: 11;
    div {
      margin-top: 150px;
      width: 300px;
      height: 130px;
      background-color: #ffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      border: 2px solid black;
      border-radius: 5px;
      font-size: 1.2rem;
      button {
        width: 30%;
        height: 30px;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
      }
    }
  }
  
  
}
