$item_margin_lr: 10px;

.product_item {
  margin: 20px $item_margin_lr;

  img {
    width: 335px - (2 * $item_margin_lr);
    height: 335px - (2 * $item_margin_lr);
    object-fit: cover;
  }
  .title {
    font-weight: bolder;
    color: black;
    &:hover {
      opacity: 0.6;
    }
  }
  .sucForTool_sort1 {
    font-size: 0.8rem;
  }
  .price {
    font-size: 0.8rem;
    margin-top: 5px;
  }
}
